/aclocal.m4
/autom4te.cache/*
/build/*
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/*
/missing
/prelude.h
/stamp-*

*~

*.cmd
*.gz
*.ko
*.la
*.lo
*.log
*.map
*.mod.c
*.o
*.order
*.out
*.pc
*.plist
*.pvc
*.symvers

.dirstamp
Makefile
Makefile.in

.deps
.libs
.tmp_versions

/paravm/paravm
/paravm/man/paravm.1
