/aclocal.m4
/autom4te.cache/*
/build/*
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/*
/missing
/prelude.h
/stamp-*

*~

*.la
*.lo
*.log
*.o
*.pc

.dirstamp
Makefile
Makefile.in

.deps
.libs

/paravm/paravm
